@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Raleway:wght@300&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;;
    font-size: 1.2rem;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
}

section {
    overflow: hidden;
}


/* footer */

footer {
    background-color: black;
    color: #fff;
    overflow: hidden;
    margin: auto;
    text-align: center;
    padding: 5%;
    line-height: 2rem;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 1rem;
}

footer a:hover {
    color:rgba(250, 55, 55, 0.6);
}


/* General styles for text */
.title-paragraph {
    text-transform: capitalize;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    font-family: 'Satisfy', cursive !important;
}

.title-section {
    color: #fff;
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    padding: 5%;
}

/* Header with logo and navigation */
#logo {
    background-color: #fff;
    margin: auto;
    width: 30%;
}

nav {
    background-color: #fff;
    padding: 2px;
    width: 100%;
}

nav ul {
    text-align: center
}

nav li {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.3rem;
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 2%;
}

nav a {
    color: #000;
    text-decoration: none;
}

.active {
    border-bottom: 1px solid #000;
}

/* Contact form */
.contact-form {
    background-color: brown;
    color: #fff;
    line-height: 2;
    overflow: hidden;
    max-width: 100%;
}

.contact-button {
    text-align: center;
    text-transform: uppercase;
    padding: 2%;
    margin: auto;
}

input[type=text], input[type=email] {
    height: 10%;
    width: 70%;
    padding: 2%;
    margin: 2%;
}

#contact-ways {
    margin: 2%;
}

#form-div {
    margin: 2%;
}

#contact-ways i {
    font-size: 2rem;
}

#contact-ways > span {
    text-align: center;
    margin: 5%;
}

#contact-ways a {
    text-decoration: none;
    color: #000;
}

#contact-ways a:hover {
    text-decoration: underline;
    color: #fff;
}

/* Home page styles */

/* Home page first section w picture and title */

#title-block {
    width: 60%;
    height: 30%;
    float: right;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
    
    padding-top: 40px;
    padding-left: 10px;

    right: 150px;
    bottom: 500px;
}

#title-block h2 {
    font-family: 'Fjalla One', sans-serif;;
    font-size: 4rem;
    color: #fff;
    text-align: right;
    padding: 2%;
}

#title-block h3 {
    font-family: 'Satisfy', cursive;;
    font-size: 2rem;
    color: #fff;
    text-align: right;
    padding: 2%;
}

.first-hp {
    width: 100%;
    height: 600px;
    background: url('../images/bunker-holga.jpg') no-repeat center center;
    overflow: hidden;
}


/* Home page second section w txt */

.second-hp {
    /*background: url('../images/leaf.jpg') no-repeat;*/
    width: 100%;
    height: 500px;
    background-color: brown;
    text-align: center;
    overflow: hidden;
}

.second-hp .title-paragraph {
    padding-top: 5%;
}

.second-hp ul {
    text-align: left;
    padding: 0 20%;
    color: #fff;
}

/* Home page third section services */
.third-hp {
    width: 100%;
    background: url('../images/church-holga.jpg') no-repeat;
    overflow: hidden;
}

.services-section {
    margin: auto;
    padding: 10%;
    width: 70%;
    text-align: justify;
    background-color: rgba(100, 100, 100, 0.5);
}

.services-section > p {
    padding: 2%;
    color: #fff;
}

.button-section {
    background-color: brown;
    width: 50%;
    margin: auto;
    padding: 5%;
    text-transform: uppercase;
    text-align: center;
}

.button-section a {
    color: #fff;
    text-decoration: none;
}

.button-section a:hover {
    color: #000;
    text-decoration: underline;
}

/* Media Queries */

/* For mobiles */


/* For desk */
@media only screen and (min-width: 1200px) {

.span-second-hp {
    display: inline-block;
    width: 40%;
}

#logo {
    width: 8%;
}

}