* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

img {
    width: 100%;
    height: auto;
}

/* header with logo and navigation */
#logo {
    background-color: #fff;
    margin: auto;
    width: 30%;
}

nav {
    background-color: #fff;
    padding: 2px;
    width: 100%;
}

nav ul {
    text-align: center
}

nav li {
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 8px;
}

nav a {
    color: #000;
    text-decoration: none;
}

.active {
    border-bottom: 1px solid #000;
}

/* Contact form */
.contact-form {
    background-color: coral;
}

.contact-button {
    text-align: center;
}

/* Home page styles */

.title-section {
    text-transform: uppercase;
    color: #fff;
    font-size: medium;
}

/* Home page first section w picture and title */
#management {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.title-block {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.first-hp {
    width: 100%;
}

.first-img {
    height: 100%;
    background: url('../images/bunker-holga.jpg') no-repeat center center;
}

/* Home page second section w txt */

.second-hp {
    background-color: blueviolet;
}

#experience {
    text-align: center;
    padding: 10px;
}

.span-second-hp {
    width: 80%;
    text-align: center;
    margin: 5%;
}

/* Home page third section services */
.third-hp {
    width: 100%;
}

.services-section {
    margin: auto;
    padding: 70 0;
    width: 70%;
}

.p-section {
    text-align: center;
    width: 80%;
}

.button {
    color: #fff;
    text-decoration: blue;
    margin: 10px;
}

/* Media Queries */

/* For mobiles */


/* For desk */
@media only screen and (min-width: 1200px) {

.span-second-hp {
    display: inline-block;
    width: 40%;
}

#logo {
    width: 8%;
}

}